<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Prediction</title>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/style.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="logo.jpeg" alt="Stock Prediction Logo">
        </div>
        <h1>Stock Price Prediction</h1>
    </header>
    <div class="container">
        <div class="pg1 tickerInput">
            <form method="POST">
                <label for="stock_ticker">Enter Stock Ticker Symbol:</label>
                <input type="text" name="stock_ticker" id="stock_ticker" required>
                <input type="submit" value="Predict" id="subbtn">
            </form>
        </div>
        <div class="pg2">
            {% if prediction %}
                <h2>Prediction:</h2>
                <p>Predicted Closing Price for Tomorrow: ${{ prediction }}</p>
            {% endif %}
            
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
