<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Prediction</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">
        <div class="navi">
            <img src="/static/css/logo.png" id="logo1" alt="Stock Prediction Logo">
    </div>
    </header>
    <div class="container">
        <div class="pg1 tickerInput">
            <form method="POST">
                <label for="stock_ticker"></label>
                <input type="text" placeholder="Enter the Stock Ticker..." name="stock_ticker" id="stock_ticker" required>
                <input type="submit" value="Predict" id="subbtn">
            </form>
        </div>
        
            {% if prediction %}
                <h2>Prediction:</h2>
                <p>Predicted Closing Price for Tomorrow: ${{ prediction }}</p>
            {% endif %}
            
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
        
    </div>
</body>
</html>

